<body>


<!-- <div class="full-container"> -->
    <div class="main-container">
        <ul class="nonav nonav-list side-menu">
            <li class="side-menu-title">My Account</li>
            <li><a href="/welcome">Search Jobs</a></li>
            <li><a href="/seeker/profile/view">Profile</a></li>
            <li><a href="/seeker/application/">Job Applications</a></li>
            <li><a href="/seeker/inbox">My Messages</a></li>
            <li class="active"><a href="/common/settings/">Settings</a></li>
        </ul>
        
    </div>
<!-- </div> -->
</body>